.main-community__space
  .main-community__space__background
    = image_tag('pic10.png', class: 'background-image')
  .main-community__space__icon
    = image_tag('ダイジョーブ博士.png', class: 'icon-image')
  .main-community__space__name
    %h4 ダイジョーブ博士
  .main-community__space__button
    %button 参加
  .main-community__space__explain
    %h5 みんな大好きダイジョーブ博士！！ダイジョーブ博士を愛している人と交流するコミュニティです。ダイジョーブ博士について語り尽くそう！！
  .main-community__space__amount
    %P 参加人数：2,200人
    %P 参加ユーザー
  .main-community__space__user
    = image_tag('icon1.png', class: 'icon-image')
    = image_tag('icon2.png', class: 'icon-image')
    = image_tag('icon3.png', class: 'icon-image')
    = image_tag('icon4.png', class: 'icon-image')
    = image_tag('icon5.png', class: 'icon-image')
    = image_tag('icon6.png', class: 'icon-image')
    = image_tag('icon7.png', class: 'icon-image')
    = image_tag('icon8.png', class: 'icon-image')
    = image_tag('icon9.png', class: 'icon-image')
    = image_tag('icon10.png', class: 'icon-image')