.side-bar
  .side-bar__game
    %h5 注目ゲーム
    %p もっと見る＞
  .side-bar__game-list
    = link_to image_tag("モンスト.png", class: "sidebar-game")
    = link_to image_tag("荒野行動.png", class: "sidebar-game")
    = link_to image_tag("game1.png", class: "sidebar-game")
    = link_to image_tag("game2.png", class: "sidebar-game")
    = link_to image_tag("game3.png", class: "sidebar-game")

  .side-bar__comment
    %h5 注目ゲーム
    %p もっと見る＞
  .side-bar__comment-range
    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20

    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20

    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20

    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20

    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20
    
    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20
    
    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20
    
    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20
    
    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20

    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20
      
    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20

    .side-bar__comment-range__list
      .side-bar__comment-range__list__user-icon
        = image_tag('icon1.png', class: 'icon-image')
      .side-bar__comment-range__list__user-name
        %h3 こたつが一番！
      .side-bar__comment-range__list__community-name
        %h4 夜通しゲームしよう
      .side-bar__comment-range__list__community-commnet
        %p 毎日こたつでゲームしまくってるwwそろそろ試験勉強を始めないといけないのにww
      .side-bar__comment-range__list__like
        .side-bar__comment-range__list__like__first
          = icon('fas', 'comment-alt', class: "side-bar-like")
          %p 10
        .side-bar__comment-range__list__like__first
          = icon('fas', 'heart', class: "side-bar-like")
          %p 20  