.top-games
  %h3 ゲーム一覧
  .top-games__content
    %h3 あなたにオススメ
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")

  .top-games__content
    %h3 新着
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")

  .top-games__content
    %h3 リリース予定
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")

  .top-games__content
    %h3 シューティング
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")

  .top-games__content
    %h3 アクション
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")
  
  .top-games__content
    %h3 RPG
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")
  
  .top-games__content
    %h3 パズル
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")
  
  .top-games__content
    %h3 レーシング
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")
  
  .top-games__content
    %h3 シミュレーション
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")
  
  .top-games__content
    %h3 スポーツ
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")

  .top-games__content
    %h3 ボード
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")

  .top-games__content
    %h3 マイリスト
    %ul.top-games__content__game
      %li
        = link_to image_tag("ルミナスフォレスト.png", class: "top-game")
      %li
        = link_to image_tag("game1.png", class: "top-game")
      %li
        = link_to image_tag("game8.png", class: "top-game")
      %li
        = link_to image_tag("荒野行動.png", class: "top-game")
      %li
        = link_to image_tag("game9.png", class: "top-game")
      %li
        = link_to image_tag("game2.png", class: "top-game")
      %li
        = link_to image_tag("game3.png", class: "top-game")